%div{:class => "lightbox", :id => @report.id}
  %strong Flag this report
  - if Person.find(session[:person_id]).is_moderator
    %span{:style => "font-size: 0.8em; margin-left: 0.8em;"}
      %a{:href => "javascript:void(0)", :onclick => "javascript:addText(#{@report.id}, 'profanity');"} profanity
      |
      %a{:href => "javascript:void(0);", :onclick => "javascript:addText(#{@report.id}, 'agree with flagger');"} agree with flagger
  /= render :partial => 'main/how_to_flag'
  - form_tag("/add_flag/#{@report.id}") do
    = hidden_field :flag, :report_id, :value => @report.id
    = hidden_field :flag, :person_id, :value => session[:person_id]
    /%p
    /  = text_area :flag, :comment, :rows => 5, :cols => 47, :id => "box_#{@report.id}"
    %p
      = radio_button :flag, :comment, "profanity"
      profanity
      %br/
      = radio_button :flag, :comment, "directly insults worker or requester"
      directly insults worker or requester
      %br/
      = radio_button :flag, :comment, "racism"
      racism
      %br/
      = radio_button :flag, :comment, "threat/incitement to violence"
      threat/incitement to violence
      %br/
      = radio_button :flag, :comment, "review incorrectly claims TOS violation"
      review incorrectly claims TOS violation
      %br/
      = radio_button :flag, :comment, "possible requester self-review"
      possible requester self-review
      %br/
      = radio_button :flag, :comment, "otherwise suspicious review; see reviewer's other reviews"
      otherwise suspicious review; see reviewer's other reviews
      %br/
      = radio_button :flag, :comment, "not a review for this requester/irrelevant"
      not a review for this requester/irrelevant
      %br/
      = radio_button :flag, :comment, "discloses screener"
      discloses screener
      %br/
      = radio_button :flag, :comment, "other"
      other
      &nbsp;
      = text_field_tag :other_explanation, "explanation for 'other', min. 20 chars, max. 140", {:size => 40, :onfocus => "if(this.value == \"explanation for 'other', min. 20 chars, max. 140\") { this.value = ''; }"}
    = submit_tag "Flag Report"
    = link_to_remote "Cancel", :url => {:action => "cancel_flag", :id => @report.id}