- report = php_report
- req_id = report["amzn_requester_id"]
- req_name = report["amzn_requester_name"]
%tr
  %td{:valign => "top"}
    .strong= link_to h(req_name), :controller => "main", "action" => "index", :id => h(req_id)
    = h(req_id)
    %br/
    = link_to "Averages &raquo;", :controller => "main", :action => "averages", :id => req_id
    %br/
    = link_to "HIT Group &raquo;", "https://www.mturk.com/mturk/searchbar?requesterId=#{req_id}&selectedSearchType=hitgroups"
    %br/
    = link_to "Review Requester &raquo;", "/report?requester[amzn_id]=#{req_id}&requester[amzn_name]=#{req_name}"
  %td{:valign => "top"}
    - for attr in ["fair", "fast", "pay", "comm"]
      .smlabel= attr + ": "
      - if eval("report[\"" + attr + "\"]") == 0
        .smlabel no&nbsp;data
      - else
        .smlabel= eval("report[\"" + attr + "\"]").to_s + "&nbsp;/&nbsp;5"
        = Requester.attr_vis(eval("report[\"" + attr + "\"]"))
      %br/
    - if report["tos_viol"]
      .tosviol violates mturk terms of service &nbsp;&nbsp;&nbsp; <a href="/help#tos">[?]</a>
  %td{:valign => "top"}
    - if !report["text"].nil?
      = h(report["text"].censor).gsub("\r\n","<br />")
    - if !report["displayed_notes"].nil?
      %p.notes= report["displayed_notes"]
    .posted_by
      = Time.parse(report["created_at"]).strftime("%b %d %Y")
      &nbsp;|&nbsp;
      = link_to h(report["display_name"]), :controller => "main", :action => "reports_by", :id => report["reviewer_id"]
      &nbsp;|&nbsp;
      = link_to "flag", :controller => "main", :action => "add_flag", :id => report["to_report_id"]
      &nbsp;|&nbsp;
      = link_to "comment", :controller => "main", :action => "add_comment", :id => report["to_report_id"]
      &nbsp;|&nbsp;
      = link_to report["flag_count"].to_s + " flags, " + report["comment_count"].to_s + " comments &raquo;", :controller => "main", :action => "report", :id => report["to_report_id"]
