%ul#tabs
  - if @location == "reports"
    %li.here All Reviews
  - else
    %li= link_to "All Reviews", :controller => "main", :action => "index"

  - if @location == "my_flagged"
    %li.here Flagged by You
  - else
    %li= link_to "Flagged By You", :controller => "main", :action => "my_flagged"

  - if @location == "my_reviews"
    %li.here Your Reviews
  - else
    %li= link_to "Your Reviews", :controller => "main", :action => "my_reviews"

  - if Person.find(session[:person_id]).is_moderator
    - if @location == "flagged"
      %li.here Flagged by Others
    - else
      %li= link_to "Flagged by Others", :controller => "main", :action => "flagged"

  - if @person and @location == "reports by"
    %li.here= @display_name + "'s Reviews"

  - if @location == "my_reviews"
    - if Person.find(session[:person_id]).most_recent_first_in_my_reviews
      = link_to "Show oldest first", :controller => "reg", :action => "toggle_my_reviews_order_flag"
    - else
      = link_to "Show newest first", :controller => "reg", :action => "toggle_my_reviews_order_flag"

  - if @location == "reports" or @location == "reports by"
    - if Person.find(session[:person_id]).order_reviews_by_edit_date
      = link_to "Order by creation date", :controller => "reg", :action => "toggle_order_by_flag"
    - else
      = link_to "Order by edit date", :controller => "reg", :action => "toggle_order_by_flag"
