%h1 Comment on Report

.report
  %p
    %strong.label AMT Requester Name &amp; ID
    = @report.requester_amzn_name + " (" + @report.requester_amzn_id + ")"
  %p
    %strong.label Description
    = h(@report.description.censor).gsub(/\r\n/,"<br/>")
  %p
    %strong.label Posted On
    = @report.created_at.strftime("%b %d %Y")

= error_messages_for :comment
- form_tag(:action => 'add_comment') do
  = hidden_field :comment, :report_id, :value => @report.id
  = hidden_field :comment, :person_id, :value => session[:person_id]
  %br/
  = text_area :comment, :body
  %p
    %div{:style => "text-align: right; width: 26em;"}= submit_tag 'Submit Comment'
