%br
= error_messages_for :report
= error_messages_for :requester
- form_tag(:action => 'edit_report') do
  %p
    .label.red HIT ID
    = text_field :report, :hit_id
    %p
      .label ToS violator?
      = check_box :report, :tos_viol
      HIT violates Amazon Terms of Service. 
      %br
      .label &nbsp; 
      (A HIT violates ToS under <a href="https://www.mturk.com/mturk/help?helpPage=policies#violation_examples" style="text-decoration:underline">specific conditions</a>, not just because you're mad.)
  %p
    .label Requester Name
    = @requester.amzn_requester_name
  %p
    .label.red Requester ID
    = @requester.amzn_requester_id
  %p
    .label How many HITs have you done for this requester?
    = select :report, :how_many_hits, Report.how_many_hits_ranges
  %p
    %strong Rate this requester on the following qualities, with 1 being worst among requesters you've had experience with and 5 being best among requesters you've had experience with:
  %table{:cellspacing => "0", :cellpadding => "2"}
    %tr
      %td &nbsp;
      - for i in [*1..5]
        %td.radioheader= i.to_s
    - for a in Report.requester_attrs
      %tr
        %td= Report.question(a)
        - for i in [*1..5]
          %td= radio_button :report, a.to_sym, i
  %p
    %strong Please briefly explain any issues you've had with this requester:
    %br/
    = text_area :report, :description
  = hidden_field :report, :person_id, :value => session[:person_id]
  %p
    .button= submit_tag 'Update'