= javascript_include_tag :defaults

:javascript
  function addText(id, text) {
    document.getElementById("box_" + id.toString()).value = text;
  }

%p#advisory.bigger
  %strong Oct 1 2015
  &nbsp;&nbsp;&nbsp;&nbsp;
  Turkopticon will be down Friday October 2, 2015, from 6 AM to 7 AM Pacific Time, for a server move.

/
  %p#advisory
    %strong Sep 1 2014
    &nbsp;&nbsp;&nbsp;&nbsp;
    The new <a href="http://turkopticon.tumblr.com/">Turkopticon Record</a> will contain detailed information about change made to any aspect of Turkopticon: this site, the extension/user script, policy documents, and database content.

/
  %p#advisory
    %strong Aug 2 2014
    &nbsp;&nbsp;&nbsp;&nbsp;
    As requested, flagging has been restricted to people with commenting ability.&nbsp;

/
  %p#advisory
    %strong Jul 29 2014
    &nbsp;&nbsp;&nbsp;&nbsp;
    We plan to restrict flagging to only people with commenting ability in the next few days. If you have thoughts about this, please post in <a href="https://groups.google.com/forum/#!topic/turkopticon-discuss/x60RmV6rdUo">this thread on turkopticon-discuss</a>. Thank you!

/
  %p#advisory
    %strong Jul 14 2014
    &nbsp;&nbsp;&nbsp;&nbsp;
    After even more discussion, comments have been enabled for some people. If you had posted more than 100 comments or 100 reviews, you should have commenting enabled. If you don't, and would like to have commenting enabled, please post in <a href="https://groups.google.com/forum/#!topic/turkopticon-discuss/3eZeFBqwJ7w">this thread on turkopticon-discuss</a>. Please be advised that commenting abilities can easily be revoked once enabled, and will be revoked for violations of our <a href="http://turkopticon.ucsd.edu/main/rules">civility guidelines</a>. Thank you!
    %br/
    %br/
    We are working on a design for a more robust reputation system that will allow us to have commenting on for everyone by default and quickly hide inappropriate comments, but this is our partial solution for now.

/
  %p#advisory
    %strong Jun 24 2014
    &nbsp;&nbsp;&nbsp;&nbsp;
    After a lot of discussion, we've decided to turn off comments. If this causes you trouble, please feel free to let us know on <a href="https://groups.google.com/forum/#!topic/turkopticon-discuss/LJWrucI7JYw">turkopticon-discuss</a>. Thank you!

%p#advisory
  Reviews, comments, and flag content should follow the Turkopticon <a href="/main/rules">civility guidelines</a>. Please review them before posting. Content that does not follow the guidelines may be edited.

%br/
.box
  = render :partial => 'main/tabs'
  %p
    %table#reports{ :cellpadding => "5", :cellspacing => "0" }
      %tr.th
        %th AMT Requester
        %th.rating Rating <span style="font-weight: normal;">[<a href="/main/help#attr">info</a>]</span>
        %th Description
      = render :partial => 'main/report', :collection => @reports
  - if @no_flags
    %p You haven't flagged any reviews.
  - if @no_reviews
    %p You haven't reviewed anybody yet.
  .pagination= will_paginate @reports
  - if params[:id] and Requester.find_by_amzn_requester_id(params[:id])
    - unless params[:hidden]
      - if Requester.find_by_amzn_requester_id(params[:id]).has_hidden_reports?
        %p
          = "This requester has " + Requester.find_by_amzn_requester_id(params[:id]).hidden_report_count.to_s + " hidden reviews. "
          = link_to "Click here", :controller => "main", :action => "index", :id => params[:id], :hidden => true
          to see them.