= error_messages_for :person

- form_for :person do |f|
  %p
    Change password for
    %strong= Person.find(session[:person_id]).email
    to
    %br/
    = f.password_field "password"

  %p
    Confirm
    %br/
    = f.password_field "password_confirmation"

  %p
    = submit_tag "Change my password"
