%h2 Settings

.box{:style => "max-width: 500px"}
  %p
    %strong Display Name
  - if @person.display_name.nil? or @person.display_name == @person.truncated_email
    %p We're now encouraging display names to make it easier to get to know fellow reviewers on the site while keeping your email address private. We have been displaying a shortened version of your email address with your reviews. Choose the name you would like displayed instead.
    %p
      %strong Once you select a display name, you cannot change it.
    %p
      %strong Parentheses will not be displayed.
    - form_for :person, :url => {:controller => "reg", :action => "set_display_name"} do |f|
      %p
        = f.text_field "display_name", :value => @person.public_email, :onfocus => "if(this.value == '#{@person.public_email}') { this.value = ''; }"
        - if flash[:errors] and flash[:errors][:display_name]
          %span.error= flash[:errors][:display_name]
      %p= submit_tag "Save this as my display name"
  - else
    %p
      Your display name:
      %strong= @person.display_name.gsub(/[()]/,"")
    %p
      We're now encouraging display names to make it easier to get to know fellow reviewers on the site while keeping your email address private. This name is shown with your reviews. You can't change the name associated with your account once you've set it. This helps us prevent people from impersonating each other. (Sad to say, it does happen.)

.box{:style => "max-width: 500px"}
  %p
    %strong Password
  - form_for :person, :url => {:controller => "reg", :action => "change_password"} do |f|
    %p
      Change password for
      %strong= @person.email
      to
      %br/
      = f.password_field "password"
    %p
      Confirm
      %br/
      = f.password_field "password_confirmation"
      - if flash[:errors] and flash[:errors][:password]
        %span.error= flash[:errors][:password]
    %p
      = submit_tag "Change my password"

- if session[:person_id] == 4343
  .box{:style => "max-width: 500px"}
    %p
      %strong Change email address
    - form_for :person, :url => {:controller => "reg", :action => "change_email"} do |f|
      %p
        Change email from
        %strong= Person.find(session[:person_id]).email
        to
        = f.text_field :email
      %p
        = submit_tag "Change email address"