%h2 Commenting Requests from Users with Less Than 5 Reviews

%table{:cellspacing => 0, :cellpadding => 8, :style => "margin: 0 auto"}
  %tr
    %th{:align => "left"} uid
    %th{:align => "left"} public_email
    %th{:align => "left"} email
    %th{:align => "left"} acct_created
    %th{:align => "left"} reviews
    %th{:align => "left"} cmnts
    %th{:align => "left"} req cmnts at
    %th{:align => "left"} last cmnt
    %th{:align => "left"} &nbsp;
    %th{:align => "left"} &nbsp;
    %th{:align => "left"} &nbsp;
  - @people.each do |person|
    %tr{:style => "background-color: #{cycle('#eee', '#fff')}"}
      %td= link_to person.id, :controller => "main", :action => "reports_by", :id => person.id
      %td= person.mod_display_name
      %td= person.email
      %td= person.created_at.strftime("%b %d %Y")
      %td= person.reports.count
      %td= person.comments.count
      %td= person.commenting_requested_at.strftime("%b %d %Y %H:%M")
      %td= person.comments.empty? ? "N/A" : person.comments.last.created_at.strftime("%b %d %Y")
      %td= link_to "enable", :controller => "admin", :action => "enable_commenting", :id => person.id
      %td= link_to "decline", :controller => "admin", :action => "decline_commenting_request", :id => person.id
      %td= link_to "ignore", :controller => "admin", :action => "ignore_commenting_request_quietly", :id => person.id

%h3 Email Addresses

%p= @all_emails.join(", ")

%h3 Careful With This

%p= link_to "decline all", :controller => "admin", :action => "decline_commenting_requests", :ids => @all_ids.join(",")