.lightbox{:id => @report.id}
  - form_tag("/mod/flag/#{@report.id}") do
    = hidden_field :flag, :report_id, :value => @report.id
    = hidden_field :flag, :person_id, :value => session[:person_id]
    = radio_button :flag, :comment, "profanity"
    profanity
    %br/
    = radio_button :flag, :comment, "directly insults worker or requester"
    directly insults worker or requester
    %br/
    = radio_button :flag, :comment, "racism"
    racism
    %br/
    = radio_button :flag, :comment, "threat/incitement to violence"
    threat/incitement to violence
    %br/
    = radio_button :flag, :comment, "review incorrectly claims TOS violation"
    review incorrectly claims TOS violation
    %br/
    = radio_button :flag, :comment, "possible requester self-review"
    possible requester self-review
    %br/
    = radio_button :flag, :comment, "otherwise suspicious review; see reviewer's other reviews"
    otherwise suspicious review; see reviewer's other reviews
    %br/
    = radio_button :flag, :comment, "not a review for this requester/irrelevant"
    not a review for this requester/irrelevant
    %br/
    = radio_button :flag, :comment, "other"
    other
    %br/
    = submit_tag "Flag Report"
    = link_to_remote "Cancel", :url => {:action => "cancel_lightbox", :id => @report.id}