= link_to "Reviews with no flags", :controller => "mod", :action => "index"
= link_to "Reviews with new flags", :controller => "mod", :action => "flagged"
= link_to "Reviews with ignored flags", :controller => "mod", :action => "ignored"
= link_to "Reviews with flags ignored by 2 or more mods", :controller => "mod", :action => "multi_ignored"
= link_to "Hidden reviews", :controller => "mod", :action => "hidden"
