%p= link_to "&laquo; Back to thread list", :action => "index"

#post{:class => cycle('odd', '')}
  .post_title= @post.title
  %table{:cellspacing => "0", :cellpadding => "0"}
    %tr
      %td.post_meta
        = link_to @post.author_name, :action => "posts_by", :id => @post.person_id
        %br/
        = @post.created_at.strftime("%b %d %Y<br/>%H:%M %p")
      %td.post_body= @post.body.gsub(/\n/,"<br/>")
    %tr
      %td{:class => "post_actions", :colspan => "2"}
        - if @post.person_id == @person.id
          = link_to "Edit", :action => "edit_post", :id => @post.id
          &nbsp;|&nbsp;
        = link_to "Reply", :action => "new_post", :forum_post => {:parent_id => @post.id}
        &nbsp;|&nbsp;
        = link_to "Thank", :action => "thank", :id => @post.id
        &nbsp;|&nbsp;
        = link_to "Inappropriate", :action => "downvote", :id => @post.id