%span.title= nameify @usr

= render 'nav'

.heading-bar
  = page_entries_info @comments, entry_name: 'comment'
  = paginate @comments, window: 2

= render partial: 'comments/comment', collection: @comments
