%span.title= nameify @usr

= render 'nav'

= pager :top, @reviews, name: 'review'

= render 'reviews/header'

- user_flags = @user.flags.map(&:review_id)
- @reviews.each do |r|
  = render 'reviews/row', r: r, user_flags: user_flags

= pager :bottom, @reviews

