%span.title= nameify @usr

= render 'nav'

.heading-bar
  = page_entries_info @reviews, entry_name: 'review'
  = paginate @reviews, window: 2
= render 'reviews/header'

- @reviews.each do |r|
  = render 'reviews/row', slim: true, r: r
