:javascript
  window.onload = function() {
    var single = document.getElementById("single");
    single.addEventListener("click", showSingle, false);
    var batch = document.getElementById("batch");
    batch.addEventListener("click", showBatch, false);
    function showSingle() {
      var bf = document.getElementById("batch_form");
      bf.setAttribute("style", "display: none;");
      var sf = document.getElementById("single_form");
      sf.setAttribute("style", "display: inline;");
      single.innerHTML = "<strong>Single HIT</strong>";
      single.setAttribute("class", "active");
      batch.innerHTML = "<a href='javascript:void(0);'>Batch HIT</a>";
      batch.setAttribute("class", "");
    }
    function showBatch() {
      var bf = document.getElementById("batch_form");
      bf.setAttribute("style", "display: inline;");
      var sf = document.getElementById("single_form");
      sf.setAttribute("style", "display: none;");
      single.innerHTML = "<a href='javascript:void(0);'>Single HIT</a>";
      single.setAttribute("class", "");
      batch.innerHTML = "<strong>Batch HIT</strong>";
      batch.setAttribute("class", "active");
    }
  };

%p
  %strong New Review

  %p &nbsp;

  %p
    Fields with <span class="req">red labels</span> are required.

  %p
    <span style="color: #666;">Gray text</span> is for discussion purposes and will not appear in the final review form.

  %p &nbsp;

- form_tag do
  %p
    .label.short.req HIT ID
    .rfield= text_field :review, :hit_id, :value => "automatically populated"
  %p
    .label.short.req HIT Name
    .rfield= text_field :review, :hit_name, :value => "automatically populated"
  %p
    .label.short.req Requester ID
    .rfield= text_field :review, :req_amzn_id, :value => "automatically populated"
  %p
    .label.short.req Requester Name
    .rfield= text_field :review, :req_amzn_name, :value => "automatically populated"
  %p
    = check_box :review, :broken
    This HIT is broken.
  %p
    .label.req Please explain how the HIT is broken.
    %span.info This question will only appear if the reviewer checks the box above.
    %br/
    = text_area :review, :broken_desc, :cols => 60, :rows => 6
  %p
    = check_box :review, :deceptive
    This HIT is deceptive.
  %p
    .label.req Please explain how the HIT is deceptive.
    %span.info This question will only appear if the reviewer checks the box above.
    %br/
    = text_area :review, :deceptive_desc, :cols => 60, :rows => 6
  %p
    = check_box :review, :tos_viol
    This HIT violates the Mechanical Turk <a href="https://mturk.com/mturk/conditionsofuse">Terms of Service</a>.
  %p
    .label.req Please explain how the HIT violates the Mechanical Turk Terms of Service.
    %span.info This question will only appear if the reviewer checks the box above.
    %br/
    = text_area :review, :tos_viol_desc, :rows => 6, :cols => 60
  %p
    .label.req Did you do more than one of these HITs?
    = radio_button :review, :batch, :value => "yes"
    &nbsp;Yes&nbsp;&nbsp;
    = radio_button :review, :batch, :value => "no"
    &nbsp;No
  %p
    %span.info Clicking "Yes" above will cause the tab "Batch HIT" below to the shown. Clicking "No" will cause the "Single HIT" tab to be shown.
  %p#tabs
    %span.active#single <strong>Single HIT</strong>
    %span#batch <a href="javascript:void(0)" id="batch_link">Batch HIT</a>
  %p#box
    %span#single_form
      %span.par
        %span.label.req How much did the HIT pay?
        &nbsp;&nbsp;
        US $
        = text_field :review, :pay, :size => 6
      %span.par
        %span.label.req About how long did it take you to do the HIT?
        %br/
        = text_field :review, :work_time_h, :size => 2
        &nbsp;hours&nbsp;&nbsp;&nbsp;
        = text_field :review, :work_time_m, :size => 2
        &nbsp;minutes&nbsp;&nbsp;&nbsp;
        = text_field :review, :work_time_s, :size => 2
        &nbsp;seconds&nbsp;&nbsp;&nbsp;
        %strong or
        &nbsp;&nbsp;&nbsp;
        = check_box :review, :dont_know_work_time
        I don't know
      %span.par
        %span.label.req Has your work been approved or rejected yet?
        %br/
        = radio_button :review, :reviewed_yet, :value => "yes"
        &nbsp;Yes&nbsp;&nbsp;
        = radio_button :review, :reviewed_yet, :value => "no"
        &nbsp;No
      %span.par
        %span.label How long did the requester take to approve or reject your work?
        %br/
        %span.info This question will only appear if the reviewer clicks "yes" to "Has your work been approved or rejected yet?"
        %br/
        = check_box :review, :reviewed_in_less_than_one_day
        Less than one day&nbsp;&nbsp;&nbsp;<strong>or</strong>&nbsp;&nbsp;&nbsp;
        = text_field :review, :review_time, :size => 2
        &nbsp;days
      %span.par
        %span.label.req Was your work rejected?
        %br/
        %span.info This question will only appear if the reviewer clicks "yes" to "Has your work been approved or rejected yet?"
        %br/
        = radio_button :review, :rejected, :value => "yes"
        &nbsp;Yes&nbsp;&nbsp;
        = radio_button :review, :rejected, :value => "no"
        &nbsp;No
      %span.par
        %span.label Do you think the rejection was fair?
        %br/
        %span.info This question will only appear if the reviewer clicks "yes" in the question above.
        %br/
        = radio_button :review, :rejection_fair, :value => "yes"
        &nbsp;Yes&nbsp;&nbsp;
        = radio_button :review, :rejection_fair, :value => "maybe"
        &nbsp;Maybe&nbsp;&nbsp;
        = radio_button :review, :rejection_fair, :value => "no"
        &nbsp;No
      %span.par
        %span.label Please feel free to explain what happened here.
        %br/
        %span.info This question will only appear if the reviewer clicks "maybe" or "no" in the question above.
        %br/
        = text_area :review, :unfair_rejection_desc, :rows => 6, :cols => 60
      %span.par
        %span.label Did you try to communicate with the requester about the HIT?
        %br/
        = radio_button :review, :tried_comm, :value => "yes"
        &nbsp;Yes&nbsp;&nbsp;
        = radio_button :review, :tried_comm, :value => "no"
        &nbsp;No
      %span.par
        %span.label Did the requester respond to your satisfaction?
        %br/
        %span.info This question will only appear if the reviewer clicks "yes" in the question above.
        %br/
        = radio_button :review, :comm_ok, :value => "yes"
        &nbsp;Yes&nbsp;&nbsp;
        = radio_button :review, :comm_ok, :value => "no"
        &nbsp;No
      %span.par
        %span.label If you have not already, please feel free to explain what happened here.
        %br/
        %span.info This question will only appear if the reviewer clicks "no" in the question above. In the event of an unfair rejection with bad communication, it's possible that the reviewer has already explained what happened in the text box above. They shouldn't need to enter the information again here.
        %br/
        = text_area :review, :bad_comm_desc, :rows => 6, :cols => 60
    %span#batch_form
      %span.par
        %span.label.req How much did each HIT pay?
        &nbsp;&nbsp;
        US $
        = text_field :review, :pay, :size => 6
        %br/
        %span If you did the same HIT for different amounts of pay, estimate an average payment.
      %span.par
        %span.label.req About how long did it take you to do each HIT?
        %br/
        = text_field :review, :work_time_h, :size => 2
        &nbsp;hours&nbsp;&nbsp;&nbsp;
        = text_field :review, :work_time_m, :size => 2
        &nbsp;minutes&nbsp;&nbsp;&nbsp;
        = text_field :review, :work_time_s, :size => 2
        &nbsp;seconds&nbsp;&nbsp;&nbsp;
        %strong or
        &nbsp;&nbsp;&nbsp;
        = check_box :review, :dont_know_work_time
        I don't know
      %span.par
        %span.label.req Has your work been approved or rejected yet?
        %br/
        = radio_button :review, :reviewed_yet, :value => "yes"
        &nbsp;Yes, all of them&nbsp;&nbsp;
        %br/
        = radio_button :review, :reviewed_yet, :value => "some"
        &nbsp;Yes, but only some of them&nbsp;&nbsp;
        %br/
        = radio_button :review, :reviewed_yet, :value => "no"
        &nbsp;No, none have been reviewed yet
      %span.par
        %span.label About how long did the requester take to approve or reject your work?
        %br/
        %span.info This question will only appear if the reviewer clicks one of the "yes" options to "Has your work been approved or rejected yet?"
        %br/
        = check_box :review, :reviewed_in_less_than_one_day
        Less than one day&nbsp;&nbsp;&nbsp;<strong>or</strong>&nbsp;&nbsp;&nbsp;
        = text_field :review, :review_time, :size => 2
        &nbsp;days
      %span.par
        %span.label.req Was your work rejected?
        %br/
        %span.info This question will only appear if the reviewer clicks one of the "yes" options to "Has your work been approved or rejected yet?"
        %br/
        = radio_button :review, :rejected, :value => "yes"
        &nbsp;Yes, all of it&nbsp;&nbsp;
        %br/
        = radio_button :review, :rejected, :value => "some"
        &nbsp;Yes, some of it&nbsp;&nbsp;
        %br/
        = radio_button :review, :rejected, :value => "no"
        &nbsp;No
      %span.par
        %span.label Do you think the rejection was fair?
        %br/
        %span.info This question will only appear if the reviewer clicks "yes" in the question above.
        %br/
        = radio_button :review, :rejection_fair, :value => "yes"
        &nbsp;Yes, all of them were fair&nbsp;&nbsp;
        %br/
        = radio_button :review, :rejection_fair, :value => "maybe"
        &nbsp;Some of them might have been fair&nbsp;&nbsp;
        %br/
        = radio_button :review, :rejection_fair, :value => "no"
        &nbsp;No
      %span.par
        %span.label Please feel free to explain what happened here.
        %br/
        %span.info This question will only appear if the reviewer clicks "maybe" or "no" in the question above.
        %br/
        = text_area :review, :unfair_rejection_desc, :rows => 6, :cols => 60
      %span.par
        %span.label Did you try to communicate with the requester about the HIT?
        %br/
        = radio_button :review, :tried_comm, :value => "yes"
        &nbsp;Yes&nbsp;&nbsp;
        = radio_button :review, :tried_comm, :value => "no"
        &nbsp;No
      %span.par
        %span.label Did the requester respond to your satisfaction?
        %br/
        %span.info This question will only appear if the reviewer clicks "yes" in the question above.
        %br/
        = radio_button :review, :comm_ok, :value => "yes"
        &nbsp;Yes&nbsp;&nbsp;
        = radio_button :review, :comm_ok, :value => "no"
        &nbsp;No
      %span.par
        %span.label If you have not already, please feel free to explain what happened here.
        %br/
        %span.info This question will only appear if the reviewer clicks "no" in the question above. In the event of an unfair rejection with bad communication, it's possible that the reviewer has already explained what happened in the text box above. They shouldn't need to enter the information again here.
        %br/
        = text_area :review, :bad_comm_desc, :rows => 6, :cols => 60
  %p
    = submit_tag "Post Review"