.flag
  = link_to flag.reason, mod_flag_path(flag), class: [:block, :bold, :reason]
  .fs-xs
    %ul.inline
      %li
        %time{ datetime: flag.created_at, title: flag.created_at }
          = "flagged #{time_ago_in_words flag.created_at} ago"
      - unless flag.activity.empty?
        - act = flag.activity.sort { |a,b| b[:at] <=> a[:at] }[0]
        -# TODO: extract to helper
        %li= "#{act[:action]} by <strong>#{nameify act[:by]}</strong> <time datetime=#{act[:at]} title=#{act[:at]}>#{time_ago_in_words act[:at]} ago </time>".html_safe
      - if flag.open?
        %li= link_to 'close flag', mod_flag_path(flag, 'flag[open]': false), method: :put
      - else
        %li= link_to 'reopen flag', mod_flag_path(flag, 'flag[open]': true), method: :put
