%span.title= @page[:title]
.mod-flags-index.flag-queue
  .hfl{ style: 'margin-bottom:10px' }
    %span.tab= link_to_unless @page[:open], "#{@page[:counts][:open]} open", mod_flags_path
    %span.tab= link_to_unless @page[:closed], "#{@page[:counts][:closed]} closed", mod_flags_path(s: 'is:closed')
  - unless @flags.empty?
    = pager :top, @flags, name: 'flag'
    = render @flags
  - else
    There are no flags requiring your attention.
