- [:recent, :all].each do |frame|
  %div{class: "col-#{frame}"}
    %span.block
      - pr = pay_rate a[frame][:reward][0], a[frame][:reward][1], split: true
      %span.bold= pr[0]
      = "/ #{pr[1]}"
    %span.block
      %span.bold= "#{htime(a[frame][:pending]) || '-- days'}"
      pending
    %span.block
      %span.bold= "#{a[frame][:comm][0]}"
      = "of #{a[frame][:comm][1]} satisfied with response"
    %span.block
      %span.bold= "#{a[frame][:recommend][0]}"
      = "of #{a[frame][:recommend][1]} would recommend"

    %ul.inline
      - [:tos, :broken, :deceptive].each do |k|
        - next unless a[frame][k] > 0
        %li= "#{k == :tos ? 'TOS' : k}: #{a[frame][k]}"

