%span.title= @page[:title]

= pager :top, @page[:requesters], name: 'requester'

.row.th.flex
  .col-1 Requester
  .col-2.flex
    .col-recent 90 day averages
    .col-all-time All time averages

%hr.divider

- @page[:requesters].each do |r|
  .row.tr.flex
    .col-1.requester= render 'requester', r: r
    .col-2.aggregates.flex= render 'aggregates', a: r.cached_aggregates
  %hr.divider

= pager :bottom, @page[:requesters]
