%span.title= "#{@page[:requester].name}: HIT Reviews"
.summary
  .th.flex
    .col-1
      .heading-bar= "Summary for #{@page[:requester].name}"
    .col-2.flex
      .heading-bar 90 day averages
      .heading-bar All time averages
  .tr.flex
    .col-1.requester-summary= render 'requester', r: @page[:requester]
    -# TODO: explore possibility of loading aggregates as ujs PATCH
    .col-2.aggregates.flex= render 'aggregates', a: @page[:aggregates]


.heading-bar
  = page_entries_info @page[:reviews], entry_name: 'review'
  = paginate @page[:reviews], window: 2

.row.th.flex
  .col-1.col-stats.flex
    .col-ttc Time to Complete
    .col-pay
      HIT
      %span.block Pay
    .col-tta Time to Approve
  .col-2.col-review Review
%hr.divider

- @page[:reviews].each do |r|
  .row.tr.flex{class:"r-#{r.id}"}

    .col-1.col-stats.flex= render 'reviews/stats', r: r
    .col-2.col-review= render 'reviews/review', r: r, flaggers: r.flags.status(:open).map(&:person_id)

  %hr.divider

= javascript_include_tag 'reviews/comments'
