%span.title= "#{@page[:requester].rname}: HIT Reviews"
.summary
  .th.flex
    .col-1
      .heading-bar= "Summary for #{@page[:requester].rname}"
    .col-2.flex
      .heading-bar 90 day averages
      .heading-bar All time averages
  .tr.flex
    .col-1.requester-summary= render 'requester', r: @page[:requester]
    -# TODO: explore possibility of loading aggregates as ujs PATCH
    .col-2.aggregates.flex= render 'aggregates', a: @page[:aggregates]


.heading-bar
  Reviews of HITs (1-20 of 540)

.row.th.flex
  .col-1.col-stats.flex
    .col-ttc Time to Complete
    .col-pay
      HIT
      %span.block Pay
    .col-tta Time to Approve
  .col-2.col-review Review
%hr.divider

- @page[:reviews].each do |r|
  .row.tr.flex{class:"r-#{r.id}"}

    -#.col-1.col-stats.flex= render 'reviews/stats'
    .col-1.col-stats.flex
      .col-stats.flex
        .col-ttc= htime r.time unless r.time.nil?
        .col-pay
          %span.block= '$' << '%.2f' % r.hit.reward
          %span.block.ppt= pay_rate r.hit.reward, r.time
        .col-tta= htime r.time_pending unless r.time_pending.nil?

    -#.col-2.col-review= render 'reviews/review'
    .col-2.col-review
      .review-header
        %span.hit-title.bold= r.hit.title
        .tagbox
          - r.tags.each do |t|
            %span.inline.tag{'data-context': t[2]}= t[0]

      .review-body= r.context

      .review-footer
        %ul.inline
          %li= link_to r.person.email, reviews_path(user: r.person.id)
          %li.timestamp= r.updated_at
          %li= link_to 'flag', ''
          %li= link_to 'comment', ''

      - if (size = r.comments.size) > 0
        .comments-divider
          %span= pluralize size, 'comment'
          = link_to '(hide)', '#'
        .comments
          - r.comments.each do |c|
            %div{ class: "comment-#{c.id}" }
              = c.body
              .comment-footer
                %ul.inline
                  %li= link_to c.person.email, reviews_path(user: c.person.id)
                  %li.timestamp= c.updated_at

  %hr.divider

= javascript_include_tag 'reviews/comments'
-#= console