%span.title Moderator Dashboard
.mod-dashboard-index
  %nav{style: 'margin:10px 0'}
    = link_to "Flags (#{@flags.length})", mod_flags_path

  .flag-queue
    - unless @flags.empty?
      .heading-bar
        = page_entries_info @flags, entry_name: 'flag'
        = paginate @flags, window: 2
      = render partial: 'mod/flags/flag', collection: @flags
    - else
      There are no flags requiring your attention.
