.row.tr.flex{class: "r-#{r.id}"}
  .col-req= render 'reviews/requester', r: r
  .col-stats.flex= render 'reviews/stats', r: r
  - if defined?(slim) && slim
    .col-review= render 'reviews/review-slim', r: r
  - else
    .col-review= render 'reviews/review', r: r, user_flags: user_flags

%hr.divider
