.row.tr.flex{class: "r-#{r.id}"}
  .col-req= render 'reviews/requester', r: r
  .col-stats.flex= render 'reviews/stats', r: r
  - if defined?(slim) && slim
    .col-review= render 'reviews/review-slim', r: r
  - else
    .col-review= render 'reviews/review', r: r, flaggers: r.flags.status(:open).map(&:person_id)

%hr.divider
