%span.title= title_from_params params, @page[:target]

= pager :top, @reviews, name: 'review'
= render 'header'

- @reviews.each do |r|
  = render 'row', r: r

= pager :bottom, @reviews

= javascript_include_tag 'reviews/comments'
