%span.title= title_from_params params, @page[:target]

= pager :top, @reviews, name: 'review'
= render 'header'

- user_flags = @user.flags.map(&:review_id)
- @reviews.each do |r|
  = render 'row', r: r, user_flags: user_flags

= pager :bottom, @reviews

= javascript_include_tag 'reviews/comments'
