!!!
%html{ lang: 'en' }
  %head
    %title='turkopticon'
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %link{ href: '/feed', rel: 'alternate', title: 'RSS', type: 'application/rss+xml' }
    %meta{:name => 'google-site-verification', :content => 'UWLKIWNd0faYwT10vzkBZI5wvuQpuRtiEcZh9ZiMsBM'}

  %body{ class: "#{controller_name}-#{action_name}" }
    %header
      %a{ href: "#{root_path}" }
        %img{ alt: 'logo', src: "#{asset_path ''}" }
      .usernav.right
        user
        %ul.inline
          %li= link_to 'my reviews', '#'
          %li= link_to 'settings', '#'
          %li= link_to 'logout', '#'
      %nav
        .left
          -# TODO: convert to form
          %input{ title: 'search', type: 'text' }
          %button{ type: 'submit' } Search
          %ul.inline
            %li= link_to 'Recent Reviews', reviews_path
        .right
          %ul.inline
            %li= link_to 'Install', install_path
            %li= link_to 'Community Rules', rules_path

    .content-wrapper
      - if flash[:notice]
        #notice
          = flash[:notice]

      = yield
