!!!
%html{ lang: 'en' }
  %head
    %title='turkopticon'
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    :javascript
      window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
      ga('create', 'UA-92176952-1', 'auto');
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    - if Rails.env.production?
      = javascript_include_tag 'https://www.google-analytics.com/analytics.js', async: true
    -#%link{ href: '/feed', rel: 'alternate', title: 'RSS', type: 'application/rss+xml' }
    %meta{:name => 'google-site-verification', :content => 'UWLKIWNd0faYwT10vzkBZI5wvuQpuRtiEcZh9ZiMsBM'}

  %body{ class: "#{controller_name}-#{action_name}" }
    %header
      .constrainer
        #logo-container.inline
          %a{ href: "#{root_path}" }= render 'layouts/logo'
        .usernav.right
          = render 'layouts/user_bar'
        %nav
          .left
            = form_tag requesters_path, method: :get do
              .group
                = text_field_tag :q, params[:q], id: nil, placeholder: 'Search requesters'
                = submit_tag ' ', class: :rsfsubmit, name: nil
                -#= image_submit_tag 'ic_search_24px.svg', alt: :submit, role: :submit
            %ul.inline
              %li= link_to 'Recent Reviews', reviews_path
              %li= link_to '+ Add Review', new_review_path
          .right
            %ul.inline
              %li= link_to 'Install', install_path
              %li= link_to 'Community Rules', doc_path(name: 'civility-guidelines')

    .content-wrapper.constrainer
      - if flash[:notice]
        .flash.notice= flash[:notice]
      - if flash[:success]
        .flash.success= flash[:success]
      - if flash[:error]
        .flash.error= flash[:error]

      = yield

    %footer
      %hr.divider

      .flex.fs-xxs
        %ul.inline
          %li &copy; Turkopticon
          %li= link_to 'Terms', doc_path(name: :terms)
          %li= link_to 'Privacy', doc_path(name: :privacy)
          %li= link_to 'API', doc_path(name: :api)

        %ul.inline{ style: 'text-align:end;'}
          %li= link_to 'GitHub', 'https://github.com/turkopticon/turkopticon-rails-app', rel: :nofollow
          %li= link_to 'Twitter', 'https://twitter.com/turkopticon', rel: :nofollow

    :javascript
      if (typeof ga === 'function') {
        ga('set', 'page', location.pathname + location.search);
        ga('send', 'pageview', { title: '#{controller_name}##{action_name}' })
      }
