!!!
%html{ lang: 'en' }
  %head
    %title='turkopticon'
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %link{ href: '/feed', rel: 'alternate', title: 'RSS', type: 'application/rss+xml' }
    %meta{:name => 'google-site-verification', :content => 'UWLKIWNd0faYwT10vzkBZI5wvuQpuRtiEcZh9ZiMsBM'}

  %body{ class: "#{controller_name}-#{action_name}" }
    %header
      .constrainer
        #logo-container.inline
          %a{ href: "#{root_path}" }= render 'layouts/logo'
        .usernav.right
          = render 'layouts/user_bar'
        %nav
          .left
            -# TODO: convert to form
            %input{ title: 'search', type: 'text' }
            %button{ type: 'submit' } Search
            %ul.inline
              %li= link_to 'Recent Reviews', reviews_path
          .right
            %ul.inline
              %li= link_to 'Install', install_path
              %li= link_to 'Community Rules', rules_path

    .content-wrapper.constrainer
      - if flash[:notice]
        .notice
          = flash[:notice]

      = yield
