!!!
%html{ lang: 'en' }
  %head
    %title='turkopticon'
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %link{ href: '/feed', rel: 'alternate', title: 'RSS', type: 'application/rss+xml' }
    %meta{:name => 'google-site-verification', :content => 'UWLKIWNd0faYwT10vzkBZI5wvuQpuRtiEcZh9ZiMsBM'}

  %body{ class: "#{controller_name}-#{action_name}" }
    %header
      .constrainer
        #logo-container.inline
          %a{ href: "#{root_path}" }= render 'layouts/logo'
        .usernav.right
          = render 'layouts/user_bar'
        %nav
          .left
            = form_tag requesters_path, method: :get do
              .group
                = text_field_tag :q, params[:q], id: nil, placeholder: 'Search requesters'
                = submit_tag ' ', class: :rsfsubmit, name: nil
                -#= image_submit_tag 'ic_search_24px.svg', alt: :submit, role: :submit
            %ul.inline
              %li= link_to 'Recent Reviews', reviews_path
          .right
            %ul.inline
              %li= link_to 'Install', install_path
              %li= link_to 'Community Rules', rules_path

    .content-wrapper.constrainer
      - if flash[:notice]
        .flash.notice= flash[:notice]
      - if flash[:success]
        .flash.success= flash[:success]
      - if flash[:error]
        .flash.error= flash[:error]

      = yield

    %footer{ style: 'height:100px;' }
