-# TODO: fix js/css links
!!!
%html{html_attrs('en-US')}
  %head
    %title turkopticon-discuss
    = stylesheet_link_tag 'discuss'
  %body
    #header
      #login_nav= render :partial => 'login_nav'
      #title= link_to "turkopticon-discuss", :controller => "forum", :action => "index"
    - if flash[:notice]
      #notice= flash[:notice]
    #main= yield
