!!!
%html{html_attrs('en-US')}
  %head
    %title= @pagetitle.nil? ? "turkopticon." : "turkopticon : " + @pagetitle
    = stylesheet_link_tag 'generic'
    %link{:href => "/feed", :rel => "alternate", :title => "RSS", :type => "application/rss+xml"}
    %meta{:name => "google-site-verification", :content => "UWLKIWNd0faYwT10vzkBZI5wvuQpuRtiEcZh9ZiMsBM"}
  %body
    #login_nav= render :partial => 'layouts/login_nav'
    #header{:onclick=>"document.location.href='/'"} &nbsp;
    #nav= render :partial => 'layouts/nav'
    #content
      - if flash[:notice]
        #notice
          = flash[:notice]
      = yield
    #footer
      Comments, questions, issues? Please check the <a href='http://turkopticon-devel.differenceengines.com/faq.html'>frequently asked questions</a> page first. If your question isn't addressed there, please post to our discussion list, <a href='https://groups.google.com/forum/#!forum/turkopticon-discuss'>turkopticon-discuss</a>. You can post by emailing <a href='mailto:turkopticon-discuss@googlegroups.com'>turkopticon-discuss@googlegroups.com</a>. If you do not wish to post to the mailing list, you may email <a href="mailto:turkopticon@differenceengines.com">turkopticon@differenceengines.com</a>, but please note we may ask you to post it to the discussion list, <strong>or post it to the discussion list ourselves. Please be advised that there is no expectation of privacy for mail sent to <a href="mailto:turkopticon@differenceengines.com">turkopticon@differenceengines.com</a> or email sent to the personal addresses of any Turkopticon administrators regarding Turkopticon.</strong>
      %br/
      %br/
      To receive news about Turkopticon, join our low-volume announcement list, <a href='https://groups.google.com/forum/#!forum/turkopticon-announce'>turkopticon-announce</a>.

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-4254808-5");
pageTracker._trackPageview();
} catch(err) {}</script>

<script type="text/javascript" charset="utf-8">
var is_ssl = ("https:" == document.location.protocol);
var asset_host = is_ssl ? "https://s3.amazonaws.com/getsatisfaction.com/" : "http://s3.amazonaws.com/getsatisfaction.com/";
document.write(unescape("%3Cscript src='" + asset_host + "javascripts/feedback-v2.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<div id="getsat-widget-6139"></div>
<script type="text/javascript" src="https://loader.engage.gsfn.us/loader.js"></script>
<script type="text/javascript">if (typeof GSFN !== "undefined"){ GSFN.loadWidget(6139,{"containerId":"getsat-widget-6139"});}</script>

