= form_for user, url: url, method: :put do |f|
  %p
    = f.hidden_field nil, name: :context, value: :change_password
    = f.label :password, 'New password', class: :block
    = f.password_field :password
    = f.label :password_confirmation, 'Confirm new password', class: :block
    = f.password_field :password_confirmation
  %p
    - size = action_name == 'settings' ? :small : :med
    = f.submit 'Update password', class: [:control, size, :block]
