%span.title Account Settings

%section.form
  .form-title.bold.fs-l Display settings
  = form_for @user, url: account_path(@user.id), method: :put do |f|
    = f.hidden_field nil, name: :context, value: :update, id: nil
    %p
      = f.label :display_name, class: :block
      = f.text_field :display_name
    %p
      %span.block Time unit
      %span.block
        = f.radio_button :time_unit, :hr
        = f.label :time_unit, 'Hours', value: :hr
        %span.example $9.60/hr
      %span.block
        = f.radio_button :time_unit, :min
        = f.label :time_unit, 'Minutes', value: :min
        %span.example $0.16/min

    %p= f.submit 'Update', class: [:control, :small, :block]

%section.form
  .form-title.bold.fs-l Change password
  = render 'password', user: @user, url: account_path(@user.id)
